body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

body, * {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
}
